body {
   background-color:#111;
   font-family: 'Source Serif Pro', serif;
}

h1 {
   font-size:200px;
   color:#e3eee5;
}

h2 {
   color:white;
   font-size:18px;
   font-weight:italic;
}

h3 {
   color:#e3eee5;
   font-size:25px;
   text-transform:uppercase;
}

a {
   color:#e3eee5;
   text-decoration:none;
   text-transform:uppercase;
}

.hero {
   background: url('../img/portrait-side.jpg') no-repeat center center;
   webkit-background-size:cover;
   moz-background-size:cover;
   o-background-size:cover;
   background-size:cover;
   display:table;
   width:100%;
}

.hero .hero-container {
   display:table-cell;
   text-align:center;
   vertical-align:middle;
   height:689px;
}

#album-title {
   display:block;
   width:100%;
}

#album {
   display:block;
   margin-top:45px;
   padding:0 30px;
   width:100%;
}

.song {
   color:white;
   display:inline-block;
   height:45px;
   margin:0 5px;
   text-align:left;
   width:270px;
}

.number {
   color:#e3eee5;
   border-right:1px dotted white;
   display:inline-block;
   font-size:50px;
   height:45px;
   padding-right:8px;
   text-align:left;
}

.description {
   display:inline-block;
   font-size:14px;
   font-variant:small-caps;
   height:45px;
   padding-left:4px;
}

#quote {
   color:white;
   display:block;
   font-family: 'Tangerine', cursive;
   font-size:38px;
   line-height:45px;
   margin-top:45px;
   text-align:center;
   width:100%;
}

#reviews-link {
   display:block;
   margin-top:45px;
   text-align:center;
   width:100%;
}

#reviews {
   display:block;
   margin-top:45px;
   text-align:center;
   width:100%;
}

.content {
   background-color:;
   border-left:1px dotted white;
   color:white;
   display:inline-block;
   float:left;
   line-height:24px;
   margin:5px;
   padding:10px;
   text-align:left;
   width:47.5%;
}
