body {
   background-color:#111;
   font-family: 'Source Serif Pro', serif;
}

h1 {
   font-size:200px;
   color:#d5fdf5;
}

h2 {
   color:white;
   font-size:18px;
   font-weight:italic;
}

h3 {
   color:#d5fdf5;
   font-size:25px;
   text-transform:uppercase;
}

a {
   color:#d5fdf5;
   text-decoration:none;
   text-transform:uppercase;
}

.hero {
   background: url('../img/portrait-side.jpg') no-repeat center center;
   webkit-background-size:cover;
   moz-background-size:cover;
   o-background-size:cover;
   background-size:cover;
   display:table;
   width:100%;
}

.hero .hero-container {
   display:table-cell;
   text-align:center;
   vertical-align:middle;
   height:689px;
}

#album-title {
   display:block;
   width:100%;
}

#album {
   display:block;
   margin-top:45px;
   padding:0 30px;
   width:95%;
}

.song {
   color:white;
   display:inline-block;
   height:45px;
   letter-spacing:.25px;
   margin:0 20px;
   text-align:left;
}

.i-v {
   width:210px;
}

.iii {
   width:260px;
}

.ii-iv {
   width:240px;
}

.song a {
   color:#d5fdf5;
   text-decoration:none;
   text-transform:uppercase;
}

.number {
   color:#d5fdf5;
   border-right:1px dotted white;
   display:inline-block;
   font-size:50px;
   height:45px;
   padding-right:8px;
   text-align:left;
}

.description {
   display:inline-block;
   font-size:14px;
   font-variant:small-caps;
   height:45px;
   padding-left:4px;
}

#quote {
   color:white;
   display:block;
   font-family: 'Tangerine', cursive;
   font-size:38px;
   line-height:45px;
   margin-top:45px;
   text-align:center;
   width:100%;
}

#reviews-link {
   display:block;
   margin-top:45px;
   text-align:center;
   width:100%;
}

#reviews {
   display:block;
   padding-top:45px;
   text-align:center;
   width:100%;
}

.content {
   background-color:;
   border-left:1px dotted white;
   display:inline-block;
   float:left;
   margin:45px 5px 0 25px;
   text-align:left;
   width:46%;
}

.content p {
   color:white;
   line-height:24px;
   padding:15px 25px 10px;
}

.content ol, li {
   color:white;
   font-size:16px;
   font-variant:small-caps;
   letter-spacing:.25px;
   line-height:19px;
   list-style-type: upper-roman;
   margin-left:35px;
}

footer {
   color:white;
   display:block;
   float:left;
   margin:25px auto;
   width:100%;
}

footer p {
   font-variant:small-caps;
   padding:10px 0;
}
